body {
    text-align: center;
}

.brand
{
    width: 130px;
    margin-top: 10px;
    margin-bottom: 18px;
}

h2 a{
    color: #1e7e34;
    font-size: 1.5rem;
}

.container
{
    margin-top: 18px;
}

